databases:
  - name: ivie-db-final
    plan: free
    databaseName: ivie_wedding
    user: ivie_user

services:
  # BACKEND
  - type: web
    name: ivie-be-final
    runtime: python
    plan: free
    region: singapore
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn ung_dung.chinh:ung_dung --bind 0.0.0.0:$PORT --workers 1 --worker-class uvicorn.workers.UvicornWorker --timeout 60
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ivie-db-final
          property: connectionString
      - key: PORT
        value: "8000"
      - key: PYTHON_VERSION
        value: "3.12.0"

  # FRONTEND
  - type: static
    name: ivie-fe-final
    plan: starter
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist

  # ADMIN
  - type: web
    name: ivie-ad-final
    runtime: python
    plan: free
    region: singapore
    rootDir: admin-python
    buildCommand: pip install -r requirements.txt
    startCommand: streamlit run quan_tri_optimized_v2.py --server.port=$PORT --server.address=0.0.0.0 --server.headless=true
    envVars:
      - key: PORT
        value: "8501"
      - key: PYTHON_VERSION
        value: "3.11.0"
      - key: STREAMLIT_SERVER_FILE_WATCHER_TYPE
        value: "none"
      - key: STREAMLIT_SERVER_MAX_UPLOAD_SIZE
        value: "3"